.App {
  text-align: center;
  background-color: black;
}

.App-header {
  background-color: #222;
  display: flex;
  justify-items: center;
  align-items: center;
  flex:1;
  color: white;
  font-family:  'Titillium Web', sans-serif;
  font-weight: 700;
  font-size: 20px;
  flex-direction: column;  
  padding-bottom: 30px;
  padding-top: 10px;
  padding:10%;  
}

.parallax { 
  background-image: url("https://raw.githubusercontent.com/Miilla/monsters-react/gh-pages/images/bloodyy.jpg");
  height: 500px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  padding-top:10%;  
  background-size: cover;
}

.app-main {
  height:1000px;
  font-size:60px;
  background-color: black;
}

.App-title-back {
  background-color:rgba(0,0,0,0.7);
}

.App-title {
  font-size: 2em;
}

.blood {
  color:silver;
  text-shadow:
  4px 4px 1px #300000,
  4px 6px 1px #400000,
  4px 8px 1px #500000,
  4px 10px 1px #600000,
  4px 12px 1px #700000,
  4px 14px 1px #800000,
  4px 16px 1px #900000,
  4px 18px 1px #A00000,
  4px 20px 1px #B00000,
  4px 22px 1px #C00000,
  4px 24px 1px #D00000,
  4px 26px 1px #E00000,
  4px 28px 1px #F00000,
  4px 30px 1px #FA0000,
  4px 32px 1px #FB0000,
  4px 34px 1px #FC0000,
  4px 36px 1px #FD0000,
  4px 38px 1px #FE0000,
  4px 40px 2px #FF0000;
}